extends layouts/base

block content

  header#head.secondary

  // container
  .container
    ol.breadcrumb
      li
        a(href='/') Home
      li.active Change password
    .row
      // Article main content
      article.col-xs-12.maincontent
        header.page-header
          h1.page-title Change password
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
          .panel.panel-default
            .panel-body
              h3.thin.text-center Change password
              p.text-center.text-muted
                | Revenir à votre 
                a(href='/profil') Profil
                |  
              hr

              if (error)
                p.error #{error.message}

              form#change_password-form(action="/change_password" method="POST" autocomplete="off")
                .row.top-margin
                  .col-sm-6
                    label
                      | Password 
                      span.text-danger *
                    input#password(type='password', name='password', required, autocomplete='new-password', pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}")
                  
                    #message
                      p#letter.invalid
                        | Une lettre 
                        b minuscule
                      p#capital.invalid
                        | Une lettre 
                        b capitale (majuscule)
                      p#number.invalid
                        | Un 
                        b nombre
                      p#length.invalid
                        | Un minimum de 
                        b 8 caractères

                  .col-sm-6
                    label
                      | Confirm Password 
                      span.text-danger *
                    input#password_confirmation(type='password', name='password_confirmation', autocomplete="off")
                hr
                .row
                  .col-lg-8

                  .col-lg-4.text-right
                    button.btn.btn-action(type='submit') Register
      // /Article
  // /container

  footer#footer

block scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
  script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
  script(src='/lib/headroom.min.js')
  script(src='/lib/jQuery.headroom.min.js')
  script(src='/lib/template.js')
  script(src="/lib/jquery-3.3.1.min.js")
  script(src="/javascript/change_password.js")

  //script(src='lib/advanced-form-components.js')
  